:root {
    --primary-color: #2563eb;
    --secondary-color: #1e40af;
    --accent-color: #3b82f6;
    --bg-dark:#0F0F10;
    --shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "jetbrains mono", sans-serif;
    line-height: 1.6;
    background-color: var(--bg-dark);
}


header{
    border-bottom: solid rgb(28, 221, 28) 1px;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 50px;
}
header h1{
    color: rgb(28, 221, 28);
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

header nav ul li{
    list-style: none;
    color: rgb(28, 221, 28);
    cursor: pointer;
}

header nav ul li a{
    text-decoration: none;
    color: rgb(28, 221, 28);
}
header nav ul li a:hover{
    text-decoration: underline;
    color: white;
}


.hero {
    width: 90%;
    height: 80vh;
    margin: 5vh auto;
    position: relative;
}

/* Capa del borde animado */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid rgb(28, 221, 28);
    clip-path: inset(0 0 100% 0); /* inicia oculto desde abajo */
    animation: drawBorder 2.5s linear forwards;
}

/* Animación sentido horario */
@keyframes drawBorder {
    0% {
        clip-path: inset(0 0 100% 0); /* muestra solo el borde superior */
    }
    33% {
        clip-path: inset(0 0 0 100%); /* muestra superior + derecha */
    }
    66% {
        clip-path: inset(100% 0 0 0); /* muestra sup + der + abajo */
    }
    100% {
        clip-path: inset(0 0 0 0); /* muestra todo el borde */
    }
}


